<header class="header"><a class="logo" routerLink="/">User Interface</a>
    <nav class="nav" id="mynav">
        <ul><a class="closebtn" href="javascript:void(0)" (click)="closeNav()">×</a>
            <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
            <li><a routerLinkActive="active" routerLink="/icons">Icons</a></li>
            <li><a routerLinkActive="active" routerLink="/color-palette">Color Palette</a></li>
            <li><a routerLink="/color-theme">Color Theme</a></li>
            <li><a href="https://wa.me/+919303414849/?text=Hi BalRam">Contact</a></li>
        </ul>
    </nav>
    <span class="hamburger" (click)="openNav()">&#9776;</span>
</header>