<footer>
    <!-- <section class="footer">
        <div>
            <h5>Footer Content</h5>
            <p>You can use rows and columns here to organize your footer content. </p>
        </div>
        <div class="sitemap">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">career</a></li>
            </ul>
        </div>
    </section> -->
    <section class="footer">
        <div class="footer-copyright"><strong>© 2020-2021 Copyright </strong>
        </div>
        <div>
            <p><span>#Design &amp; Developed by BalRam</span></p>
        </div>
    </section>
</footer>