@import 'icons';

.icon-box {
    line-height: 50px;
    margin: 2px 1px;
    font-size: 18px;
    text-shadow: #fff 1px 1px 0;
    background: #f3f3f3;
    border-radius: 3px;
    box-shadow: 0 1px #e3dfe3;
    overflow: hidden;
    min-height: 31px;
    padding: 0;
    border: none;
    cursor: pointer;
}