$icons-data: (
floral-heart:\2766,
rotated-floral-heart-bullet:\2767,
reversed-rotated-floral-heart-bullet:\2619,
rotated-heavy-black-heart-bullet:\2765,
heavy-heart-exclamation-mark-ornament:\2763,
white-heart-suit:\2661,
black-heart-suit:\2665,
heavy-black-heart:\2764,
white-feathered-rightwards-arrow:\27B3,
georgian-letter-ghan:\10E6,
love-letter:\1F48C,
love-hotel:\1F3E9,
beating-heart:\1F493,
broken-heart:\1F494,
two-hearts:\1F495,
sparkling-heart:\1F496,
growing-heart:\1F497,
heart-with-arrow:\1F498,
blue-heart:\1F499,
green-heart:\1F49A,
yellow-heart:\1F49B,
purple-heart:\1F49C,
heart-with-ribbon:\1F49D,
revolving-hearts:\1F49E,
heart-decoration:\1F49F,
couple-with-heart:\1F491,

leftwards-arrow:\2190,
upwards-arrow:\2191,
rightwards-arrow:\2192,
downwards-arrow:\2193,
left-right-arrow:\2194,
up-down-arrow:\2195,
north-west-arrow:\2196,
north-east-arrow:\2197,
south-east-arrow:\2198,
south-west-arrow:\2199,
black-up-pointing-triangle:\25B2,
black-down-pointing-triangle:\25BC,
black-left-pointing-triangle:\25C0,
black-right-pointing-triangle:\25B6,
heavy-wide-headed-rightwards-arrow:\2794,
heavy-south-east-arrow:\2798,
heavy-rightwards-arrow:\2799,
heavy-north-east-arrow:\279A,
drafting-point-rightwards-arrow:\279B,
heavy-round-tipped-rightwards-arrow:\279C,
triangle-headed-rightwards-arrow:\279D,
heavy-triangle-headed-rightwards-arrow:\279E,
dashed-triangle-headed-rightwards-arrow:\279F,
heavy-dashed-triangle-headed-rightwards-arrow:\27A0,
black-rightwards-arrow:\27A1,
three-d-top-lighted-rightwards-arrowhead:\27A2,
three-d-bottom-lighted-rightwards-arrowhead:\27A3,
black-rightwards-arrowhead:\27A4,
heavy-black-curved-downwards-and-rightwards-arrow:\27A5,
heavy-black-curved-upwards-and-rightwards-arrow:\27A6,
rightwards-arrow-with-hook:\21AA,
leftwards-arrow-with-hook:\21A9,
leftwards-arrow-with-stroke:\219A,
rightwards-arrow-with-stroke:\219B,
leftwards-wave-arrow:\219C,
rightwards-wave-arrow:\219D,
leftwards-two-headed-arrow:\219E,
upwards-two-headed-arrow:\219F,
rightwards-two-headed-arrow:\21A0,
downwards-two-headed-arrow:\21A1,
leftwards-arrow-with-tail:\21A2,
rightwards-arrow-with-tail:\21A3,
leftwards-arrow-from-bar:\21A4,
rightwards-arrow-from-bar:\21A6,
upwards-arrow-from-bar:\21A5,
downwards-arrow-from-bar:\21A7,
up-down-arrow-with-base:\21A8,
leftwards-arrow-with-loop:\21AB,
rightwards-arrow-with-loop:\21AC,
left-right-wave-arrow:\21AD,
left-right-arrow-with-stroke:\21AE,
downwards-zigzag-arrow:\21AF,
upwards-arrow-with-tip-leftwards:\21B0,
upwards-arrow-with-tip-rightwards:\21B1,
downwards-arrow-with-tip-leftwards:\21B2,
rightwards-arrow-with-corner-downwards:\21B4,
downwards-arrow-with-tip-rightwards:\21B3,
downwards-arrow-with-corner-leftwards:\21B5,
anticlockwise-top-semicircle-arrow:\21B6,
clockwise-top-semicircle-arrow:\21B7,
north-west-arrow-to-long-bar:\21B8,
leftwards-arrow-to-bar-over-rightwards-arrow-to-bar:\21B9,
anticlockwise-open-circle-arrow:\21BA,
clockwise-open-circle-arrow:\21BB,
anticlockwise-gapped-circle-arrow:\27F2,
clockwise-gapped-circle-arrow:\27F3,
leftwards-harpoon-with-barb-upwards:\21BC,
leftwards-harpoon-with-barb-downwards:\21BD,
upwards-harpoon-with-barb-rightwards:\21BE,
upwards-harpoon-with-barb-leftwards:\21BF,
rightwards-harpoon-with-barb-upwards:\21C0,
rightwards-harpoon-with-barb-downwards:\21C1,
downwards-harpoon-with-barb-rightwards:\21C2,
downwards-harpoon-with-barb-leftwards:\21C3,
rightwards-arrow-over-leftwards-arrow:\21C4,
upwards-arrow-leftwards-of-downwards-arrow:\21C5,
leftwards-arrow-over-rightwards-arrow:\21C6,
leftwards-paired-arrows:\21C7,
leftwards-double-arrow:\21D0,
upwards-double-arrow:\21D1,
rightwards-double-arrow:\21D2,
downwards-double-arrow:\21D3,
left-right-double-arrow:\21D4,
rightwards-harpoon-over-leftwards-harpoon:\21CC,
leftwards-double-arrow-with-stroke:\21CD,
rightwards-double-arrow-with-stroke:\21CF,
up-down-double-arrow:\21D5,
north-west-double-arrow:\21D6,
north-east-double-arrow:\21D7,
south-east-double-arrow:\21D8,
south-west-double-arrow:\21D9,
up-down-white-arrow:\21F3,
leftwards-triple-arrow:\21DA,
rightwards-triple-arrow:\21DB,
leftwards-squiggle-arrow:\21DC,
rightwards-squiggle-arrow:\21DD,
upwards-arrow-with-double-stroke:\21DE,
downwards-arrow-with-double-stroke:\21DF,
leftwards-dashed-arrow:\21E0,
upwards-dashed-arrow:\21E1,
rightwards-dashed-arrow:\21E2,
downwards-dashed-arrow:\21E3,
leftwards-arrow-to-bar:\21E4,
rightwards-arrow-to-bar:\21E5,
leftwards-white-arrow:\21E6,
rightwards-white-arrow:\21E8,
downwards-white-arrow:\21E9,
upwards-white-arrow-from-bar:\21EA,
upwards-white-arrow:\21E7,
upwards-white-arrow-on-pedestal:\21EB,
upwards-white-arrow-on-pedestal-with-horizontal-bar:\21EC,
upwards-white-arrow-on-pedestal-with-vertical-bar:\21ED,
upwards-white-double-arrow:\21EE,
upwards-white-double-arrow-on-pedestal:\21EF,
rightwards-white-arrow-from-wall:\21F0,
north-west-arrow-to-corner:\21F1,
south-east-arrow-to-corner:\21F2,
right-arrow-with-small-circle:\21F4,
downwards-arrow-leftwards-of-upwards-arrow:\21F5,
three-rightwards-arrows:\21F6,
leftwards-arrow-with-vertical-stroke:\21F7,
rightwards-arrow-with-vertical-stroke:\21F8,
left-right-arrow-with-vertical-stroke:\21F9,
leftwards-arrow-with-double-vertical-stroke:\21FA,
rightwards-arrow-with-double-vertical-stroke:\21FB,
left-right-arrow-with-double-vertical-stroke:\21FC,
leftwards-open-headed-arrow:\21FD,
rightwards-open-headed-arrow:\21FE,
left-right-open-headed-arrow:\21FF,
upwards-quadruple-arrow:\27F0,
downwards-quadruple-arrow:\27F1,
right-arrow-with-circled-plus:\27F4,
long-leftwards-arrow:\27F5,
long-rightwards-arrow:\27F6,
long-left-right-arrow:\27F7,
long-leftwards-double-arrow:\27F8,
long-rightwards-double-arrow:\27F9,
long-leftwards-double-arrow-from-bar:\27FD,
long-rightwards-double-arrow-from-bar:\27FE,
long-left-right-double-arrow:\27FA,
long-leftwards-arrow-from-bar:\27FB,
long-rightwards-arrow-from-bar:\27FC,
long-rightwards-squiggle-arrow:\27FF,
rightwards-two-headed-arrow-with-vertical-stroke:\2900,
rightwards-two-headed-arrow-with-double-vertical-stroke:\2901,
rightwards-two-headed-arrow-from-bar:\2905,
leftwards-double-arrow-with-vertical-stroke:\2902,
rightwards-double-arrow-with-vertical-stroke:\2903,
left-right-double-arrow-with-vertical-stroke:\2904,
leftwards-double-arrow-from-bar:\2906,
rightwards-double-arrow-from-bar:\2907,
downwards-arrow-with-horizontal-stroke:\2908,
upwards-arrow-with-horizontal-stroke:\2909,
upwards-triple-arrow:\290A,
downwards-triple-arrow:\290B,
leftwards-double-dash-arrow:\290C,
rightwards-double-dash-arrow:\290D,
leftwards-triple-dash-arrow:\290E,
rightwards-triple-dash-arrow:\290F,
rightwards-two-headed-triple-dash-arrow:\2910,
rightwards-arrow-with-dotted-stem:\2911,
upwards-arrow-to-bar:\2912,
downwards-arrow-to-bar:\2913,
rightwards-arrow-with-tail-with-vertical-stroke:\2914,
rightwards-arrow-with-tail-with-double-vertical-stroke:\2915,
rightwards-two-headed-arrow-with-tail:\2916,
rightwards-two-headed-arrow-with-tail-with-vertical-stroke:\2917,
rightwards-two-headed-arrow-with-tail-with-double-vertical-stroke:\2918,
leftwards-arrow-tail:\2919,
rightwards-arrow-tail:\291A,
leftwards-double-arrow-tail:\291B,
rightwards-double-arrow-tail:\291C,
leftwards-arrow-to-black-diamond:\291D,
rightwards-arrow-to-black-diamond:\291E,
north-west-and-south-east-arrow:\2921,
north-east-and-south-west-arrow:\2922,
north-west-arrow-with-hook:\2923,
north-east-arrow-with-hook:\2924,
south-east-arrow-with-hook:\2925,
south-west-arrow-with-hook:\2926,
north-west-arrow-and-north-east-arrow:\2927,
north-east-arrow-and-south-east-arrow:\2928,
south-east-arrow-and-south-west-arrow:\2929,
south-west-arrow-and-north-west-arrow:\292A,
south-east-arrow-crossing-north-east-arrow:\292D,
north-east-arrow-crossing-south-east-arrow:\292E,
falling-diagonal-crossing-north-east-arrow:\292F,
rising-diagonal-crossing-south-east-arrow:\2930,
north-east-arrow-crossing-north-west-arrow:\2931,
north-west-arrow-crossing-north-east-arrow:\2932,
wave-arrow-pointing-directly-right:\2933,
bottom-arc-anticlockwise-arrow:\293B,
right-side-arc-clockwise-arrow:\2938,
lower-right-semicircular-clockwise-arrow:\293E,
lower-left-semicircular-anticlockwise-arrow:\293F,
top-arc-anticlockwise-arrow:\293A,
top-arc-clockwise-arrow-with-minus:\293C,
top-arc-anticlockwise-arrow-with-plus:\293D,
arrow-pointing-rightwards-then-curving-upwards:\2934,
arrow-pointing-rightwards-then-curving-downwards:\2935,
arrow-pointing-downwards-then-curving-leftwards:\2936,
arrow-pointing-downwards-then-curving-rightwards:\2937,
left-side-arc-anticlockwise-arrow:\2939,
anticlockwise-closed-circle-arrow:\2940,
clockwise-closed-circle-arrow:\2941,
rightwards-arrow-above-short-leftwards-arrow:\2942,
leftwards-arrow-above-short-rightwards-arrow:\2943,
short-rightwards-arrow-above-leftwards-arrow:\2944,
rightwards-arrow-with-plus-below:\2945,
leftwards-arrow-with-plus-below:\2946,
rightwards-arrow-through-x:\2947,
left-right-arrow-through-small-circle:\2948,
upwards-two-headed-arrow-from-small-circle:\2949,
leftwards-harpoon-with-barb-up-to-bar:\2952,
rightwards-harpoon-with-barb-up-to-bar:\2953,
upwards-harpoon-with-barb-right-to-bar:\2954,
downwards-harpoon-with-barb-right-to-bar:\2955,
leftwards-harpoon-with-barb-down-to-bar:\2956,
rightwards-harpoon-with-barb-down-to-bar:\2957,
upwards-harpoon-with-barb-left-to-bar:\2958,
downwards-harpoon-with-barb-left-to-bar:\2959,
leftwards-harpoon-with-barb-up-from-bar:\295A,
rightwards-harpoon-with-barb-up-from-bar:\295B,
upwards-harpoon-with-barb-right-from-bar:\295C,
downwards-harpoon-with-barb-right-from-bar:\295D,
leftwards-harpoon-with-barb-down-from-bar:\295E,
rightwards-harpoon-with-barb-down-from-bar:\295F,
upwards-harpoon-with-barb-left-from-bar:\2960,
downwards-harpoon-with-barb-left-from-bar:\2961,
leftwards-harpoon-with-barb-up-above-leftwards-harpoon-with-barb-down:\2962,
upwards-harpoon-with-barb-left-beside-upwards-harpoon-with-barb-right:\2963,
rightwards-harpoon-with-barb-up-above-rightwards-harpoon-with-barb-down:\2964,
downwards-harpoon-with-barb-left-beside-downwards-harpoon-with-barb-right:\2965,
leftwards-harpoon-with-barb-up-above-rightwards-harpoon-with-barb-up:\2966,
leftwards-harpoon-with-barb-down-above-rightwards-harpoon-with-barb-down:\2967,
rightwards-harpoon-with-barb-up-above-leftwards-harpoon-with-barb-up:\2968,
rightwards-harpoon-with-barb-down-above-leftwards-harpoon-with-barb-down:\2969,
leftwards-harpoon-with-barb-up-above-long-dash:\296A,
leftwards-harpoon-with-barb-down-below-long-dash:\296B,
rightwards-harpoon-with-barb-up-above-long-dash:\296C,
rightwards-harpoon-with-barb-down-below-long-dash:\296D,
upwards-harpoon-with-barb-left-beside-downwards-harpoon-with-barb-right:\296E,
downwards-harpoon-with-barb-left-beside-upwards-harpoon-with-barb-right:\296F,
right-double-arrow-with-rounded-head:\2970,
equals-sign-above-rightwards-arrow:\2971,
tilde-operator-above-rightwards-arrow:\2972,
leftwards-arrow-above-tilde-operator:\2973,
rightwards-arrow-above-tilde-operator:\2974,
rightwards-arrow-above-almost-equal-to:\2975,
less-than-above-leftwards-arrow:\2976,
leftwards-arrow-through-less-than:\2977,
greater-than-above-rightwards-arrow:\2978,
subset-above-rightwards-arrow:\2979,
leftwards-arrow-through-subset:\297A,
superset-above-leftwards-arrow:\297B,
squat-black-rightwards-arrow:\27A7,
heavy-concave-pointed-black-rightwards-arrow:\27A8,
right-shaded-white-rightwards-arrow:\27A9,
left-shaded-white-rightwards-arrow:\27AA,
back-tilted-shadowed-white-rightwards-arrow:\27AB,
front-tilted-shadowed-white-rightwards-arrow:\27AC,
heavy-lower-right-shadowed-white-rightwards-arrow:\27AD,
heavy-upper-right-shadowed-white-rightwards-arrow:\27AE,
notched-lower-right-shadowed-white-rightwards-arrow:\27AF,
notched-upper-right-shadowed-white-rightwards-arrow:\27B1,
circled-heavy-white-rightwards-arrow:\27B2,
black-feathered-south-east-arrow:\27B4,
black-feathered-rightwards-arrow:\27B5,
black-feathered-north-east-arrow:\27B6,
heavy-black-feathered-south-east-arrow:\27B7,
heavy-black-feathered-rightwards-arrow:\27B8,
heavy-black-feathered-north-east-arrow:\27B9,
teardrop-barbed-rightwards-arrow:\27BA,
heavy-teardrop-shanked-rightwards-arrow:\27BB,
wedge-tailed-rightwards-arrow:\27BC,
heavy-wedge-tailed-rightwards-arrow:\27BD,
open-outlined-rightwards-arrow:\27BE,
leftwards-black-arrow:\2B05,
upwards-black-arrow:\2B06,
downwards-black-arrow:\2B07,
return-symbol:\23CE,
rightwards-arrow-with-tip-downwards:\2B0E,
rightwards-arrow-with-tip-upwards:\2B0F,
leftwards-arrow-with-tip-downwards:\2B10,
leftwards-arrow-with-tip-upwards:\2B11,
thunderstorm:\2608,
lightning:\2607,
apl-functional-symbol-quad-less-than:\2343,
apl-functional-symbol-quad-greater-than:\2344,
apl-functional-symbol-quad-leftwards-arrow:\2347,
apl-functional-symbol-quad-rightwards-arrow:\2348,
apl-functional-symbol-quad-upwards-arrow:\2350,
apl-functional-symbol-quad-downwards-arrow:\2357,
apl-functional-symbol-quad-down-caret:\234C,
apl-functional-symbol-quad-up-caret:\2353,
apl-functional-symbol-quad-delta:\234D,
apl-functional-symbol-quad-del:\2354,
apl-functional-symbol-upwards-vane:\234F,
apl-functional-symbol-downwards-vane:\2356,
apl-functional-symbol-leftwards-vane:\2345,
apl-functional-symbol-rightwards-vane:\2346,
north-east-black-arrow:\2B08,
north-west-black-arrow:\2B09,
south-east-black-arrow:\2B0A,
south-west-black-arrow:\2B0B,
left-right-black-arrow:\2B0C,
up-down-black-arrow:\2B0D,
north-east-white-arrow:\2B00,
north-west-white-arrow:\2B01,
south-east-white-arrow:\2B02,
south-west-white-arrow:\2B03,
left-right-white-arrow:\2B04, 

fleur-de-lis:\269C,
four-club-spoked-asterisk:\2725,
heavy-four-balloon-spoked-asterisk:\2724,
teardrop-spoked-asterisk:\273B,
open-centre-teardrop-spoked-asterisk:\273C,
heavy-teardrop-spoked-asterisk:\273D,
six-petalled-black-and-white-florette:\273E,
white-florette:\2740,
black-florette:\273F,
eight-petalled-outlined-black-florette:\2741,
heavy-teardrop-spoked-pinwheel-asterisk:\2743,
sparkle:\2747,
heavy-sparkle:\2748,
balloon-spoked-asterisk:\2749,
eight-teardrop-spoked-propeller-asterisk:\274A,
heavy-eight-teardrop-spoked-propeller-asterisk:\274B,
flower:\2698,
flower-punctuation-mark:\2055,
cyrillic-letter-multiocular-o:\A66E,
vai-syllable-za:\A564,
vai-syllable-zha:\A565,
shamrock:\2618,
tai-tham-sign-dokmai:\1AA5,
four-leaf-clover:\1F340,
blossom:\1F33C,
sunflower:\1F33B,
hibiscus:\1F33A,
rose:\1F339,
cherry-blossom:\1F338,
tulip:\1F337,
bouquet:\1F490,

black-star:\2605,
white-star:\2606,
circled-white-star:\272A,
open-centre-black-star:\272B,
pinwheel-star:\272F,
star-of-david:\2721,
outlined-white-star:\269D,
sextile:\26B9,
eight-pointed-pinwheel-star:\2735,
sixteen-pointed-asterisk:\273A,
twelve-pointed-black-star:\2739,
heavy-eight-pointed-rectilinear-black-star:\2738,
six-pointed-black-star:\2736,
eight-pointed-rectilinear-black-star:\2737,
eight-pointed-black-star:\2734,
eight-spoked-asterisk:\2733,
open-centre-asterisk:\2732,
heavy-asterisk:\2731,
white-four-pointed-star:\2727,
black-four-pointed-star:\2726,
apl-functional-symbol-circle-star:\235F,
circled-asterisk-operator:\229B,
six-pointed-star-with-middle-dot:\1F52F,
shooting-star:\1F320,
glowing-star:\1F31F,
small-asterisk:\FE61,
circled-open-centre-eight-pointed-star:\2742,
shadowed-white-star:\2730,
apl-functional-symbol-star-diaeresis:\2363,
outlined-black-star:\272D,
star-equals:\225B,
asterisk:\002A,
arabic-five-pointed-star:\066D,


white-smiling-face:\263A,
white-frowning-face:\2639,
black-smiling-face:\263B,
grinning-face:\1F600,
grinning-face-with-smiling-eyes:\1F601,
face-with-tears-of-joy:\1F602,
smiling-face-with-open-mouth:\1F603,
smiling-face-with-open-mouth-and-smiling-eyes:\1F604,
smiling-face-with-open-mouth-and-cold-sweat:\1F605,
smiling-face-with-open-mouth-and-tightly-closed-eyes:\1F606,
smiling-face-with-halo:\1F607,
smiling-face-with-horns:\1F608,
winking-face:\1F609,
smiling-face-with-smiling-eyes:\1F60A,
face-savouring-delicious-food:\1F60B,
relieved-face:\1F60C,
smiling-face-with-heart-shaped-eyes:\1F60D,
smiling-face-with-sunglasses:\1F60E,
smirking-face:\1F60F,
neutral-face:\1F610,
expressionless-face:\1F611,
unamused-face:\1F612,
face-with-cold-sweat:\1F613,
pensive-face:\1F614,
confused-face:\1F615,
confounded-face:\1F616,
kissing-face:\1F617,
face-throwing-a-kiss:\1F618,
kissing-face-with-smiling-eyes:\1F619,
kissing-face-with-closed-eyes:\1F61A,
face-with-stuck-out-tongue:\1F61B,
face-with-stuck-out-tongue-and-winking-eye:\1F61C,
face-with-stuck-out-tongue-and-tightly-closed-eyes:\1F61D,
disappointed-face:\1F61E,
worried-face:\1F61F,
angry-face:\1F620,
pouting-face:\1F621,
crying-face:\1F622,
persevering-face:\1F623,
face-with-look-of-triumph:\1F624,
disappointed-but-relieved-face:\1F625,
frowning-face-with-open-mouth:\1F626,
anguished-face:\1F627,
fearful-face:\1F628,
weary-face:\1F629,
sleepy-face:\1F62A,
tired-face:\1F62B,
grimacing-face:\1F62C,
loudly-crying-face:\1F62D,
face-with-open-mouth:\1F62E,
hushed-face:\1F62F,
face-with-open-mouth-and-cold-sweat:\1F630,
face-screaming-in-fear:\1F631,
astonished-face:\1F632,
flushed-face:\1F633,
sleeping-face:\1F634,
dizzy-face:\1F635,
face-without-mouth:\1F636,
face-with-medical-mask:\1F637,
grinning-cat-face-with-smiling-eyes:\1F638,
cat-face-with-tears-of-joy:\1F639,
smiling-cat-face-with-open-mouth:\1F63A,
smiling-cat-face-with-heart-shaped-eyes:\1F63B,
cat-face-with-wry-smile:\1F63C,
kissing-cat-face-with-closed-eyes:\1F63D,
pouting-cat-face:\1F63E,
crying-cat-face:\1F63F,
weary-cat-face:\1F640,
face-with-no-good-gesture:\1F645,
face-with-ok-gesture:\1F646,
person-bowing-deeply:\1F647,
see-no-evil-monkey:\1F648,
hear-no-evil-monkey:\1F649,
speak-no-evil-monkey:\1F64A,
happy-person-raising-one-hand:\1F64B,
person-raising-both-hands-in-celebration:\1F64C,
person-frowning:\1F64D,
person-with-pouting-face:\1F64E,
person-with-folded-hands:\1F64F,
rocket:\1F680,
helicopter:\1F681,
steam-locomotive:\1F682,
railway-car:\1F683,
high-speed-train:\1F684,
high-speed-train-with-bullet-nose:\1F685,
train:\1F686,
metro:\1F687,
light-rail:\1F688,
station:\1F689,
tram:\1F68A,
tram-car:\1F68B,
bus:\1F68C,
oncoming-bus:\1F68D,
trolleybus:\1F68E,
bus-stop:\1F68F,
minibus:\1F690,
ambulance:\1F691,
fire-engine:\1F692,
police-car:\1F693,
oncoming-police-car:\1F694,
taxi:\1F695,
oncoming-taxi:\1F696,
automobile:\1F697,
oncoming-automobile:\1F698,
recreational-vehicle:\1F699,
delivery-truck:\1F69A,
articulated-lorry:\1F69B,
tractor:\1F69C,
monorail:\1F69D,
mountain-railway:\1F69E,
suspension-railway:\1F69F,
mountain-cableway:\1F6A0,
aerial-tramway:\1F6A1,
ship:\1F6A2,
rowboat:\1F6A3,
speedboat:\1F6A4,
horizontal-traffic-light:\1F6A5,
vertical-traffic-light:\1F6A6,
construction-sign:\1F6A7,
police-cars-revolving-light:\1F6A8,
triangular-flag-on-post:\1F6A9,
door:\1F6AA,
no-entry-sign:\1F6AB,
smoking-symbol:\1F6AC,
no-smoking-symbol:\1F6AD,
put-litter-in-its-place-symbol:\1F6AE,
do-not-litter-symbol:\1F6AF,
potable-water-symbol:\1F6B0,
non-potable-water-symbol:\1F6B1,
bicycle:\1F6B2,
no-bicycles:\1F6B3,
bicyclist:\1F6B4,
mountain-bicyclist:\1F6B5,
pedestrian:\1F6B6,
no-pedestrians:\1F6B7,
children-crossing:\1F6B8,
mens-symbol:\1F6B9,
womens-symbol:\1F6BA,
restroom:\1F6BB,
baby-symbol:\1F6BC,
toilet:\1F6BD,
water-closet:\1F6BE,
shower:\1F6BF,
bath:\1F6C0,
bathtub:\1F6C1,
passport-control:\1F6C2,
customs:\1F6C3,
baggage-claim:\1F6C4,
left-luggage:\1F6C5 ,

);


@each $icon-names, $icon-codes in $icons-data {
.bi-#{$icon-names}:before{
 content:'#{$icon-codes}';
 }
}


.bi {
    color: #000;
    width: 32px;
    font-size: 18px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;

}