.icon-set {
    background-color: #607D8B;
    bottom: 2%;
    height: 40px;
    line-height: 40px;
    position: fixed;
    text-align: center;
    width: 100vw;
    /*display: none;*/
}

pre {
    display: inline-block;
    margin: 0;
    padding: 0;
}

pre code {
    background: #1e1e1e;
    color: gold;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
    /*display: none;*/
}

/*.lt-gt {
    color: #D5D8D6;
}
    
.name {
    color: #F62D73;
}

.attri {
    color: #85D540;
}

.val {
    color: #E6DA7B;
}*/



.lt-gt {
    color: #d4d4d4;
}
    
.name {
    color: #569CD6;
}

.attri {
    color: #9CDCFE;
}

.val {
    color: #CE9178;
}
