.data {
    border-collapse: collapse;
    width: 100%;
}

.data td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    vertical-align: middle;

}

.data img {
    height: 100px;
    width: 200px;
}
